*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/readme.html
/sitemap.xml
/sitemap.xml.gz

-shoeKey
shoeKey.ppk
shoeKey.pub
*.txt
Non-webContent/untitled_page.png
*.epgz
rules.html
banned-list.html
wp-content/themes/
assets/feed.html
wp-content/plugins/magic-the-gathering-card-tooltips/*
wp-content/plugins/mtg-utilities/*
wp-content/plugins/wp-crontrol/*
wp-admin
wp-content/plugins/index.php
xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-links-opml.php
wp-cron.php
wp-config-sample.php
wp-comments-post.php
wp-blog-header.php
wp-activate.php
index.php
customStyle.css
wp-includes/*