*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/themes/*
wp-content/plugins/*

/.htaccess
/readme.html
/sitemap.xml
/sitemap.xml.gz

-shoeKey
shoeKey.ppk
shoeKey.pub
Non-webContent/untitled_page.png
*.epgz
assets/rules.html
assets/banned-list.html
assets/feed.html

wp-admin

xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-links-opml.php
wp-cron.php
wp-config-sample.php
wp-comments-post.php
wp-blog-header.php
wp-activate.php
index.php
customStyle.css
wp-includes/*
license.txt
