.site{ 
	margin: 0 auto; 
	max-width: 100%;
}

.site-header {
  max-width: 100%;	
}

.site-content .entry-header, 
.site-content .entry-content, .site-content .entry-summary, .site-content .entry-meta, .page-content {
	margin: 0 !important;
	max-width: 100% !important;
}

.wp-post-image {
  width:100%;
}
.feed-logo {
	max-width: 150px;
	max-height: 130px;
	display:  block;
	background: #FFF;
	height: 100%;
}

.rss-feed>.post {
	display:flex;
}

.entry-title {
	display: inline;
}

.byline {
	display: inline;
}