.entry-content{
	color: #fff;
} 

a {
	color: #fff;
}

a:hover {
	color: #fff;
}

a:visited {
	color: #fff;
}

.widget, .blog-content {
	color: #fff;
	background: #232345;
	border: none;
}

p.blog-text, h3.blog-title{
	color: #fff;
}

.rss-item-wrapper{
	  display: flex;
  flex-wrap: nowrap;
	height: 275px;
}

.rss_item_image{
width: 200px;
}

.rss-title {
	float: right;
	width: 100%;
	word-wrap: break-word;
}

.rss-desc {
	float: right;
	margin-bottom: 5px;
	width: 100%;
	padding-left: 10px;
	word-wrap: break-word;
}

.rss-image-container{
	display: flex;
	  justify-content: center;
  flex-direction: column;
  text-align: center;	
	    flex-shrink: 0;

}

.rss-desc img {
	display: none;
}